@import "tailwindcss";

:root {
  /* Primary Colors */
  --color-primary-dark: #190933; /* Deep Indigo */
  --color-primary-accent: #5dd9c1; /* Vibrant Mint (CTA, Success) */

  /* Secondary/Neutral Colors */
  --color-secondary-subtle: #665687; /* Muted Purple (Borders, Secondary Text) */
  --color-secondary-highlight: #b084cc; /* Muted Lavender (Highlight/Sale Tag) */

  /* Light Background Accent */
  --color-light-accent: #acfcd9; /* Pale Mint / Near White */

  /* Basic Text & Background */
  --color-text: var(--color-primary-dark);
  --color-background: #ffffff;
}

/* Custom CSS to hide the spin buttons on number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
